reference/**
models/**
model_coqui/**
vncorenlp_test/**
logs/**
*.pyc
*.scorer
*.tflite
PhoNER_COVID19-main/**
notebooks/**
start-server.sh
kill-server.sh
start-vncorenlp.sh
check-server.sh
json-flow/**
VnCoreNLP/**
.rasa/**
pipeline/**
*.wav
*.dot
*.sh
archived_data/**
channels/**
DataEntry_Rasa/**
pipeline/**